a:visited {
    color: initial;
}
:host {
    font-family: Arial;
}
.header {
    text-align: center;
    border-bottom: 1px solid #aaa;
}
.container {
    width: 1140px;
    min-height: calc(100vh - 81px - 4em);
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 1140px) {
    .container {
        width: 100%;
    }
}
