:host {
    width: 100%;
}
.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}
.pagination > a {
    font-size: 1.75em;
    margin-right: 1em;
}
.pagination > a.disabled {
    color: #ccc;
    pointer-events: none;
}