:host {
  display: flex;
  flex-direction: column;
}
.book-card {
  border: 1px solid #aaa;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0 2px 6px #666;
  opacity: 0;
  transition: opacity .1s linear;
  clear: both;
}
.thumbnail {
  float: left;
  margin-right: 2em;
  margin-bottom: 1.1em;
}
.book-title {
  margin: 0 !important;
}
.book-desc {
  color: #888;
}
@media (max-width: 768px) {
  :host {
    font-size: 12px;
  }
  .book-title, .book-desc {
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
@media (max-width: 576px) {
  .thumbnail {
    float: right;
    margin-left: 2em;
    margin-right: 0;
    margin-bottom: 1.1em;
  }
}