:host, form {
  width: 100%;
}
form {
  position: relative;
  margin-bottom: 2em;
}
form > * {
  font-size: 1.75em;
}
form > input {
  width: 74%;
}
form > button {
  width: 25%;
  cursor: pointer;
}
form > small {
  display: none;
}
form.submitted.ng-invalid > input {
  border-color: rgb(194, 81, 81);
}
form.submitted.ng-invalid > small {
  position: absolute;
  display: inline;
  left: 0;
  bottom: -1.8em;
  font-size: .9em;
  color: rgb(194, 81, 81);
}
