svg {
    height: 100%;
    transform: matrix(1,0,0,1,0,0);
    background-color: black;
    border: 1px solid #44f;
}
.plan {
    fill: #44f;
}
.lot {
    cursor: pointer;
    fill: rgba(66, 255, 66, .5);
    stroke: #fff;
    stroke-width: .3px;
}
.lot:hover {
    fill: rgba(255,255,0,.5);
}
.lot.taken {
    fill: rgba(255,150,200,.5)
}